@model RiverMeThis.Models.River

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>River</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumAPs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumAPs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MapPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MapPath)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RiverId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
