@model RiverMeThis.Models.ProgressViewModels.ProgressViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4" style="font-family:Akronim">River Me This...</h2>

</div>

<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ul>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/images/Coal-River.jpg" alt="Big Coal River" style="height: 50vh;">
            <div class="carousel-caption" style="color: #ff0303;font-weight: bold;">
                <h3 style="font-family: Merienda; font-size: 20px; font-weight:bold;">@Model.River1.Name</h3>

                <p> You have floated @Model.DistanceTraveledOnRiver1 miles out of @Model.River1.TotalLength miles</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuenow="@Model.DistanceTraveledOnRiver1" aria-valuemin="0" aria-valuemax="100" style="width: @Model.PercentofRiver1 ">
                        @Model.PercentofRiver1
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img class="d-block w-100" src="~/images/Coal-River3.jpg" alt="Little Coal to Coal River" style="height: 50vh;">
            <div class="carousel-caption" style="color: #ffeb01;font-weight: bold;">
                <h3 style="font-family: Merienda; font-size: 20px;font-weight:bold;">@Model.River2.Name</h3>
                <p> You have floated @Model.DistanceTraveledOnRiver2 miles out of @Model.River2.TotalLength miles</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuenow="@Model.DistanceTraveledOnRiver2" aria-valuemin="0" aria-valuemax="100" style="width: @Model.PercentofRiver2">
                        @Model.PercentofRiver2
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img class="d-block w-100" src="~/images/Coal-River2.jpg" alt="Coal River" style="height: 50vh;">
            <div class="carousel-caption" style="color: #ff0303;font-weight: bold">
                <h3 style="font-family: Merienda;font-size: 20px;font-weight: bold;">@Model.River3.Name</h3>
                <p> You have floated @Model.DistanceTraveledOnRiver3 miles out of @Model.River3.TotalLength miles</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuenow="@Model.DistanceTraveledOnRiver3" aria-valuemin="0" aria-valuemax="100" style="width: @Model.PercentofRiver3">
                        @Model.PercentofRiver3
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img class="d-block w-100" src="~/images/ElkRiver.jpg" alt="Elk River" style="height: 50vh;">
            <div class="carousel-caption" style="color: #ff0303; font-weight: bold;">
                <h3 style="font-family: Merienda; font-size: 20px; font-weight:bold;">@Model.River4.Name</h3>
                <p> You have floated @Model.DistanceTraveledOnRiver4 miles out of @Model.River4.TotalLength miles</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuenow="@Model.DistanceTraveledOnRiver4" aria-valuemin="0" aria-valuemax="100" style="width: @Model.PercentofRiver4">
                        @Model.PercentofRiver4
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img class="d-block w-100" src="~/images/Guyandotte-River.jpg" alt="Gyandotte River" style="height: 50vh;">
            <div class="carousel-caption" style="color: #ffeb01;font-weight: bold;">
                <h3 style="font-family: Merienda; font-size: 20px;font-weight:bold;">@Model.River5.Name</h3>
                <p> You have floated @Model.DistanceTraveledOnRiver5 miles out of @Model.River5.TotalLength miles</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                          aria-valuenow="@Model.DistanceTraveledOnRiver5" aria-valuemin="0" aria-valuemax="100" style="width: @Model.PercentofRiver5">
                        @Model.PercentofRiver5
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Left and right controls -->
<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
</a>
</div>




