@model RiverMeThis.Models.FloatTrip

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FloatTrip</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        @if (@Model.Distance !=null)
         {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Distance)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Distance)
            </dd>
         }
        <dt class="col-sm-2">
           No. of Floaters: 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfFloaters)
        </dd>
        @if (@Model.Duration != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Duration)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Duration)
            </dd>
        }
        @if (@Model.Notes != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Notes)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Notes)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class="col-sm-2">
            River: 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.River.Name)
        </dd>
        @if (@Model.PutInAPId.HasValue)
        {
            <dt class="col-sm-2">
                Put-In: 
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PutInAP.Name)
            </dd>
        }
        @if (@Model.TakeOutAPId.HasValue)
        {
            <dt class="col-sm-2">
                Take-Out: 
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TakeOutAP.Name)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Device)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Device.Type)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FloatTripId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
