@model RiverMeThis.Models.FloatTrip

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FloatTrip</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Distance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Distance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfFloaters)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfFloaters)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PicPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PicPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NeedASherpa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NeedASherpa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.River)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.River.RiverId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PutInAP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PutInAP.AccessPointId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TakeOutAP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TakeOutAP.AccessPointId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Device)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Device.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sherpa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sherpa.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FloatTripId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
